.categories .grid-image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 14px;
  max-width: 100%;
  padding: 20px 0;
  margin-bottom: 40px;
}

.categories .cat {
  position: relative;
  cursor: pointer;
}

.categories .image img {
  width: 100%;
  height: 120px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.categories .image img:hover {
  outline: 1px solid #ffffff;
}
.categories .cat p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 3px;
}

@media screen and (max-width: 805px) {
  .categories .grid-image {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
