.movieType {
  padding: 20px 0;
}

.movieType .movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  max-width: 100%;
  margin-bottom: 45px;
}
.movieType .movie-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
.movieType .movie-card img:hover {
  outline: 1px solid #ffffff;
}

@media screen and (max-width: 670px) {
  .movieType .movies-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
@media screen and (max-width: 360px) {
  .movieType .movies-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
}
