.card ul {
  display: flex;
  list-style-type: none;
  overflow-y: auto;
  position: relative;
  gap: 18px;
  flex-direction: row-reverse;
}
.card ul::-webkit-scrollbar {
  display: none;
}
.grid img {
  width: 100px;
  height: 150px;
  margin-bottom: 8px;
  border-radius: 8px;
}
.grid .title {
  width: 100px;
}

.grid p {
  position: absolute;
  bottom: 12px;
  font-size: 16px;
  width: 100px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0) 100%
  );
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}
 a{
  text-decoration: none;
  color: #000;
}