.header{
  background-color: #000000;
  
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header .content .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #b1afaf;
  
}
.content p {
  font-size: 24px;
  font-weight: bold;
  color: #eee;
}

