.genre-list h2 {
  color: #fff;
  text-align: end;
  margin: 20px 0;
}

.genre-list ul {
  display: flex;
  list-style-type: none;
  overflow-y: auto;
  position: relative;
  gap: 10px;
  flex-direction: row-reverse;
}

.genre-list ul::-webkit-scrollbar {
  display: none;
}

.genre-list ul li {
  color: #fff;
  border: 1px solid #fff;
  padding: 8px;
  border-radius: 8px;
  max-width: 100px;
  height: auto;
  white-space: nowrap;
  cursor: pointer;
}
